In [1]:
import pandas as pd

In [2]:
final_df = pd.read_csv("2013-08-16_flights.csv")

In [4]:
from datetime import datetime
min_date = min(final_df['actual_runway_departure'])
min_date = datetime.strptime(min_date, '%Y-%m-%d %H:%M:%S')
print(min_date)

2013-08-15 23:32:00

In [5]:
l4 = []
for index, row in final_df.iterrows():
    dt_obj = datetime.strptime(row['scheduled_runway_departure'], '%Y-%m-%d %H:%M:%S')
    l4.append(dt_obj)
final_df['dt_scheduled_runway_departure'] = l4

In [7]:
l2 = []
for index, row in final_df.iterrows():
    dif = row['dt_scheduled_runway_departure'] - min_date
    l2.append(dif)
final_df['dif_scheduled_runway_departure'] = l2

In [8]:
l3 = []
min_timestamp = int(round(min_date.timestamp()))
for index, row in final_df.iterrows():
    idif = int((int(round(row['dt_scheduled_runway_departure'].timestamp())) - min_timestamp)/60)
    idif -= 330
    l3.append(idif)
final_df['idif_scheduled_runway_departure'] = l3

In [9]:
final_df.drop("dt_scheduled_runway_departure",axis=1,inplace=True)
final_df.drop("dif_scheduled_runway_departure",axis=1,inplace=True)

In [10]:
final_df

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival,idif_scheduled_runway_departure
0,306043857,KLGA,KSTL,2013-08-16 00:00:00,2013-08-16 00:07:00,2013-08-16 02:08:00,2013-08-16 02:04:00,28
1,306011989,KCMH,KCLT,2013-08-16 00:00:00,2013-08-16 00:06:00,2013-08-16 01:03:00,2013-08-16 01:03:00,28
2,306048464,KMCO,KLAS,2013-08-16 00:00:00,2013-08-16 00:04:00,2013-08-16 04:21:00,2013-08-16 04:28:00,28
3,306058850,KORD,KSFO,2013-08-16 00:00:00,2013-08-16 00:00:00,2013-08-16 04:00:00,2013-08-16 04:04:00,28
4,306054413,KMYR,KCLT,2013-08-16 00:00:00,2013-08-15 23:47:00,2013-08-16 00:34:00,2013-08-16 00:15:00,28
...,...,...,...,...,...,...,...,...
25640,306152660,KMCI,KORD,2013-08-16 23:59:00,2013-08-16 23:50:00,2013-08-17 00:58:00,2013-08-17 00:56:00,1467
25641,306128304,KFLL,KATL,2013-08-16 23:59:00,2013-08-16 23:55:00,2013-08-17 01:27:00,2013-08-17 01:26:00,1467
25642,306162528,KORD,KCLE,2013-08-16 23:59:00,2013-08-16 23:59:00,2013-08-17 01:00:00,2013-08-17 00:48:00,1467
25643,306138296,KICT,KIAH,2013-08-16 23:59:00,2013-08-17 02:10:00,2013-08-17 01:17:00,2013-08-17 03:25:00,1467
25644,306109680,KBUF,KORD,2013-08-16 23:59:00,2013-08-16 23:56:00,2013-08-17 01:11:00,2013-08-17 01:13:00,1467

In [11]:
final_df.to_csv('idif_scheduled.csv',index = False)