In [48]:
from mpl_toolkits.basemap import Basemap
from multiprocessing import Process,Array,Value
from collections import defaultdict
from scipy.spatial import distance as dst
import matplotlib.pyplot as plt
import shapely.geometry as sp
import numpy as np
import pandas as pd
import pickle as pk
import datetime as dt
import threading
import itertools
import math
import time
import json
import copy

<div>
    <h1>Dataset Cleaning</h1>
</div>

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell reads the Flight_Tracks.csv which is the actual paths taken by all flights in the month of August 2013 </p></font><br>
<font size="3">
<b>Input</b> &rarr; Flight_Tracks.csv- (~81 Million Rows) <br>
<b>Output</b> &rarr; Tracks Dataframe </font>
</div>

In [1]:
Tracks=pd.read_csv("Flight_Tracks.csv")
Tracks

,id,received,callsign,altitude,ground_speed,latitude_degrees,longitude_degrees,flighthistory_id
0,108923402,2013-09-09 16:27:54+00,AWE404,37000.0,454,39.330002,-91.730003,308536896
1,108923403,2013-09-09 16:27:54+00,EJA955,43000.0,496,39.130001,-95.970001,308759273
2,108923404,2013-09-09 16:27:54+00,JBU223,36000.0,467,37.169998,-98.980003,308510756
3,108923405,2013-09-09 16:27:54+00,UAL436,37000.0,474,38.919998,-97.529999,308546747
4,108923406,2013-09-09 16:28:00+00,SKW6407,33000.0,451,43.169998,-115.269997,308543571
...,...,...,...,...,...,...,...,...
81406058,15,2013-08-21 16:19:15+00,SKW4595,38000.0,444,40.529999,-117.000000,306674139
81406059,20,2013-08-21 16:19:15+00,SWA445,38000.0,421,40.400002,-107.230003,306650840
81406060,22,2013-08-21 16:19:19+00,AWI3772,3000.0,257,40.830002,-73.750000,306663759
81406061,24,2013-08-21 16:19:17+00,SKW4522,8700.0,272,40.799999,-112.120003,306673932
81406062,25,2013-08-21 16:19:19+00,FDX3018,5000.0,264,41.000000,-74.430000,306901570

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell drops the unnecessary columns and retains the columns needed, cleans the time column to represent a datetime object, sorts by the time column and outputs the cleaned dataset cleanTracks.csv </p></font><br>
<font size="3">
<b>Input</b> &rarr; Tracks Dataframe <br>
<b>Output</b> &rarr;cleanTracks.csv </font>
</div>

In [ ]:
Tracks.sort_values(by=['flighthistory_id'],inplace=True)
Tracks.drop(['id','callsign','altitude'],axis=1,inplace=True)
col='received'
series=list(Tracks[col])
cleanedSeries=[]
for date in series:
    cleanDate=date.split('+')[0]
    cleanedSeries.append(dt.datetime.fromisoformat(cleanDate))
Tracks[col]=cleanedSeries
Tracks.sort_values(by=['received'],inplace=True)
Tracks=Tracks.reset_index()
Tracks.drop(['index'],axis=1,inplace=True)
Tracks.to_csv("Outputs/realTracks.csv",index=False)

In [3]:
cleanTracks=pd.read_csv("Outputs/cleanTracks.csv")
cleanTracks

,received,ground_speed,latitude_degrees,longitude_degrees,flighthistory_id
0,2013-08-14 08:30:56,172,36.207200,-79.425000,306095730
1,2013-08-14 08:31:56,187,36.259400,-79.430000,306095730
2,2013-08-14 08:32:53,214,36.326700,-79.418100,306095730
3,2013-08-14 08:33:53,191,36.363100,-79.383600,306095730
4,2013-08-14 08:34:59,186,36.402200,-79.336400,306095730
...,...,...,...,...,...
81406058,2013-09-11 13:57:30,316,42.680000,-106.449997,308962199
81406059,2013-09-11 13:58:31,279,42.700001,-106.529999,308962199
81406060,2013-09-11 13:59:32,250,42.720001,-106.620003,308962199
81406061,2013-09-11 14:24:46,130,37.630001,-122.099998,308960729
81406062,2013-09-11 15:34:57,166,45.580002,-122.620003,308630237

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cells reads the Flight_History.csv which has the corresponding information about all the flights that took place in the month of August 2013 and we clean the csv file in order to remove unnecessary columns, drop NULL rows etc. and output the cleaned csv</p></font><br>
<font size="3">
<b>Input</b> &rarr; Flight_History.csv <br>
<b>Output</b> &rarr; cleanFlightHistory.csv</font>
</div>

In [61]:
Flights=pd.read_csv("Outputs/Flight_History.csv",low_memory=False)
Flights

,id,airline_code,airline_icao_code,flight_number,departure_airport_code,departure_airport_icao_code,arrival_airport_code,arrival_airport_icao_code,published_departure,published_arrival,...,scheduled_runway_arrival,actual_runway_arrival,creator_code,scheduled_air_time,scheduled_block_time,departure_airport_timezone_offset,arrival_airport_timezone_offset,scheduled_aircraft_type,actual_aircraft_type,icao_aircraft_type_actual
0,307025132,G4,AAY,565,EUG,KEUG,LAS,KLAS,2013-08-26 02:25:00+00,2013-08-26 04:20:00+00,...,NaN,NaN,I,NaN,115.0,-7,-7,M80,NaN,NaN
1,307089377,9K,KAP,3312,BOS,KBOS,MVY,KMVY,NaN,NaN,...,NaN,NaN,D,NaN,37.0,-4,-4,NaN,NaN,NaN
2,307391933,AA,NaN,23,DEN,KDEN,DFW,KDFW,NaN,NaN,...,2013-08-26 17:31:00+00,NaN,D,111.0,115.0,-6,-5,NaN,NaN,NaN
3,306201343,ZW,AWI,19,DCA,KDCA,ORF,KORF,NaN,NaN,...,2013-08-15 18:14:00+00,NaN,A,29.0,NaN,-4,-4,NaN,NaN,NaN
4,306690299,5A,AIP,5103,GTF,KGTF,BIL,KBIL,NaN,NaN,...,2013-08-19 09:17:00+00,NaN,A,42.0,NaN,-6,-6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711571,308738047,UA,UAL,1197,SFO,KSFO,IAH,KIAH,2013-09-11 07:23:00+00,2013-09-11 10:59:00+00,...,2013-09-11 10:58:00+00,2013-09-11 10:54:00+00,I,203.0,216.0,-7,-5,738,NaN,B738
711572,308710521,UA,UAL,1540,LAS,KLAS,IAH,KIAH,2013-09-11 07:33:00+00,2013-09-11 10:22:00+00,...,2013-09-11 10:11:00+00,2013-09-11 09:59:00+00,I,148.0,169.0,-7,-5,738,NaN,B738
711573,308711065,UA,UAL,1614,LAX,KLAX,IAH,KIAH,2013-09-11 07:20:00+00,2013-09-11 10:28:00+00,...,2013-09-11 10:25:00+00,2013-09-11 10:44:00+00,I,168.0,188.0,-7,-5,739,NaN,B739
711574,308710908,US,AWE,436,LAX,KLAX,CLT,KCLT,2013-09-11 07:35:00+00,2013-09-11 12:16:00+00,...,2013-09-11 12:01:00+00,2013-09-11 11:53:00+00,I,258.0,281.0,-7,-4,321,NaN,A321
711575,308686277,US,AWE,485,DEN,KDEN,CLT,KCLT,2013-09-11 06:59:00+00,2013-09-11 09:57:00+00,...,2013-09-11 10:00:00+00,2013-09-11 09:36:00+00,I,168.0,178.0,-6,-4,320,NaN,A320

In [62]:
Flights=Flights[['id','departure_airport_icao_code','arrival_airport_icao_code','scheduled_runway_departure','actual_runway_departure','scheduled_runway_arrival','actual_runway_arrival']]
Flights=Flights.dropna()
Flights=Flights.reset_index()
Flights.drop(['index'], axis = 1, inplace = True)
ColsToClean=['scheduled_runway_departure','actual_runway_departure','scheduled_runway_arrival','actual_runway_arrival',]
for col in ColsToClean:
    series=list(Flights[col])
    cleanedSeries=[]
    for date in series:
        cleanDate=str(date).split('+')[0]
        cleanedSeries.append(dt.datetime.fromisoformat(cleanDate))
    Flights[col]=cleanedSeries
badRows=Flights[(Flights["departure_airport_icao_code"] =='KALX') | (Flights["departure_airport_icao_code"] =='KPLB')| (Flights["arrival_airport_icao_code"] =='KALX') | (Flights["arrival_airport_icao_code"] =='KPLB')].index
Flights.drop(badRows,inplace=True)
Flights.sort_values(by=['scheduled_runway_departure'],inplace=True)
Flights=Flights.reset_index()
Flights.drop(['index'],axis=1,inplace=True)
Flights.to_csv("Outputs/cleanFlightHistory.csv",index=False)

In [63]:
cleanFlights=pd.read_csv("Outputs/cleanFlightHistory.csv")
cleanFlights

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival
0,305966493,KSDF,KDEC,2013-08-14 08:40:00,2013-08-14 09:14:00,2013-08-14 09:44:00,2013-08-14 10:12:00
1,306196254,KSDF,KBHM,2013-08-14 09:00:00,2013-08-14 09:04:00,2013-08-14 09:47:00,2013-08-14 09:51:00
2,306196711,KMEM,KCOS,2013-08-14 09:00:00,2013-08-14 09:14:00,2013-08-14 11:01:00,2013-08-14 11:18:00
3,306196678,KMEM,KMIA,2013-08-14 09:00:00,2013-08-14 09:09:00,2013-08-14 10:52:00,2013-08-14 10:58:00
4,306196521,KSDF,KMKE,2013-08-14 09:00:00,2013-08-14 09:15:00,2013-08-14 09:54:00,2013-08-14 10:04:00
...,...,...,...,...,...,...,...
646704,308962754,KMEM,KSAN,2013-09-11 08:58:00,2013-09-11 09:04:00,2013-09-11 12:07:00,2013-09-11 12:09:00
646705,308961528,KSDF,KSGF,2013-09-11 08:59:00,2013-09-11 09:08:00,2013-09-11 10:03:00,2013-09-11 10:03:00
646706,308962550,KMEM,KRIC,2013-09-11 08:59:00,2013-09-11 09:11:00,2013-09-11 10:37:00,2013-09-11 10:46:00
646707,308962750,KSDF,KHSV,2013-09-11 08:59:00,2013-09-11 09:16:00,2013-09-11 09:58:00,2013-09-11 10:26:00
646708,308622678,KMIA,KJFK,2013-09-11 09:08:00,2013-09-11 08:00:00,2013-09-11 11:20:00,2013-09-11 10:14:00

<h1> Misseleaneous Pickle Files Generation </h1>

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell reads the cleanTracks.csv which has a mapping between every flight and its corresponding ground speed in knots captured at 1 minute intervals(timestamps) and outputs the dictionary as a pickle file that maps each flightID to its median ground speed/cruise speed. </p></font><br>
<font size="3">
<b>Input</b> &rarr; cleanTracks.csv <br>
<b>Output</b> &rarr; SpeedDict.pkl </font>
</div>

In [3]:
cleanTracks=pd.read_csv("Outputs/cleanTracks.csv")
cleanTracks.sort_values(by=['received'],inplace=True)
speeds = cleanTracks.groupby(["flighthistory_id"])["ground_speed"].median()
df_dict = speeds.to_dict()
avg_speed = np.array(list(df_dict.values())).mean()
med_speed = np.median(list(df_dict.values()))
print("The Average Cruise Speed of a flight is ",avg_speed)
print("The Median Cruise Speed of a flight is ",med_speed)
print("The Number of flights whose cruise speed is known",len(df_dict))
speedDictFile=open("Outputs/SpeedDict.pkl","wb")
pk.dump(df_dict,speedDictFile)
speedDictFile.close()

The Average Cruise Speed of a flight is  386.2909277154822
The Median Cruise Speed of a flight is  407.5
The Number of flights whose cruise speed is known 631131

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell gives a mapping between the sectors themselves and the centre to which they belong to, by outputting a dict of dict wherein the first index marks the max X coordinate and the second index marks the max Y coordinate.<br> For example, SectorChunkDict[1000000][2000000]=[0,1,2,3,4,...,49] means that sectors 0 to 49 are bounded by  X = [0,1000000] and Y = [0,2000000]    </p></font><br>
<font size="3">
<b>Input</b> &rarr; - <br>
<b>Output</b> &rarr; SectorChunkDict.pkl </font>
</div>

In [60]:
ZoneDict=dict()
for zone in range(1000000,8000000,1000000):
    ZoneDict[zone]=[]
Centres=[[2000000,4000000],[1500000,2000000,2500000,4000000],[1350000,1900000,2400000,4000000],[1000000,1500000,2000000,2500000,4000000],[800000,1250000,1700000,2150000,2700000,4000000],[1750000,2300000,4000000],[4000000]]
CurrentZone=0
for zone in range(len(ZoneDict)):
    CurrentZone+=1000000
    for centre in Centres[zone]:
        tempDict=dict()
        tempDict[centre]=[]
        ZoneDict[CurrentZone].append(tempDict)
CopyDict=copy.deepcopy(ZoneDict)
newDict=defaultdict(dict)
for zone in CopyDict:
    for chunk in CopyDict[zone]:
        inner_key=[key for key in chunk.keys()][0]
        newDict[zone][inner_key]=[]
maxSector=0
for Zone in newDict:
    for Chunk in newDict[Zone]:
        newDict[Zone][Chunk]+=[sectorNumber for sectorNumber in range(maxSector,maxSector+50)]
        maxSector+=50
SectorChunkDict = open("Outputs/SectorChunkDict.pkl", "wb")
pk.dump(newDict,SectorChunkDict)
SectorChunkDict.close()

<h1>Test Days</h1><br>
<font size="4",style="font-family:Ubuntu"> <p> The days tested for are given below - we obtain the 3 metrics for each of the test days and compare the metric with the predicted value from the GA <br><br> Range = [2013-08-14,2013-09-11]</p></font><br>

In [6]:
TEST_DAYS=["2013-08-16","2013-08-17","2013-08-18"]

<h1>Metric 1 - Traffic Factor</h1>

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell reads the cleanTracks.csv which has a mapping between every flight and the coordinates of its actual path measured at constant time intervals. We use this data to obtain the TrafficFactor for each test day.<b> The Traffic Factor is a measure of the maximum number of aircraft present in every sector (measure the sector count of each sector) at any given time across the entire day.</b> </p></font><br>
<font size="3">
<b>Input</b> &rarr; cleanTracks.csv <br>
<b>Output</b> &rarr; N pickle files where N is the number of days to be tested. </font>
</div>

In [8]:
cleanTracks=pd.read_csv("Outputs/cleanTracks.csv")
flightDates=set(df["received"].str[:10])
flightTimes=set(df["received"].str[:19])
flightDates=list(flightDates)
flightTimes=list(flightTimes)
flightDates=sorted(flightDates)
flightTimes=sorted(list(map(lambda x:datetime.fromisoformat(x),flightTimes)))
flightTimeDict=dict()
for index,val in enumerate(flightTimes):
    flightTimeDict[val]=index
flightTimeDictFile=open("Outputs/flightTimeDict.pkl","wb")
pk.dump(flightTimeDict,flightTimeDictFile)
flightTimeDictFile.close()

In [18]:
for date in flightDates:
    dftemp=df[df["received"].str[:10]==date]
    dftemp.to_csv(f"{date}.csv",index=False)

In [2]:
m = pk.load(open("M_ConversionMetric.pkl", "rb"))
SectorChunkDict = pk.load(open("SectorChunkDict.pkl", "rb"))
output = pk.load(open("ConvexDict.pkl", "rb"))
flightTimeDict = pk.load(open("flightTimeDict.pkl", "rb"))

In [4]:
def getChunk(Point,SectorChunkDict):
    innerDict=SectorChunkDict[math.ceil(Point[0]/1000000)*1000000]
    Y=0
    for key in innerDict.keys():
        if key >= Point[1]:
            Y=key
            break
    return innerDict[Y] if Y!=0 else []

In [5]:
def findSectorPath(path,sectorPath,z,SectorChunkDict,output):
    sector=-1
    for pointIdx in range(len(path)):
        sectorList=getChunk(path[pointIdx],SectorChunkDict)
        for i in sectorList:
            if len(output[i]) < 3:
                continue
            if sp.Polygon(output[i]).contains(sp.Point(path[pointIdx])):
                sector=i
                break
        if sector!=-1:
            sectorPath.append(sector)
        else:
            z.append(pointIdx)

In [6]:
def getSectorTimings(dfHistory, m, timingDict, flightTimeDict,SectorChunkDict,output):
    dfHistory.sort_values(by=['flighthistory_id','received'],inplace=True)
    dfHistory=dfHistory.reset_index()
    dfHistory.drop(['index'],axis=1,inplace=True)
    east,north=m(dfHistory["longitude_degrees"],dfHistory["latitude_degrees"])
    path=list(zip(east,north))
    sectorPath=[]
    z=[]
    findSectorPath(path,sectorPath,z,SectorChunkDict,output)
    dfHistory.drop(z, axis=0, inplace=True)
    dfHistory=dfHistory.reset_index()
    dfHistory.drop(['index'],axis=1,inplace=True)
    timings=list(map(lambda x:datetime.fromisoformat(x),dfHistory["received"].str[:19]))
    i=0
    while i<len(sectorPath):
        element=sectorPath[i]
        start=i
        while i<len(sectorPath) and sectorPath[i]==element:
            i+=1
        end=i-1
        if end==len(sectorPath):
            end-=1
        timingDict[element].append(sorted([flightTimeDict[timings[start]],flightTimeDict[timings[end]]]))

In [7]:
def getNaiveK(timingDict):
    naiveKDict=dict()
    for sector in timingDict:
        p=timingDict[sector]
        if(len(p)==0):
            naiveKDict[sector]=-1
            continue
        arrival=[x[0] for x in p]
        departure=[x[1] for x in p]
        t = max(departure)
        count = [0] * (t + 2)
        for i in range(len(arrival)):
            count[arrival[i]] += 1
            count[departure[i] + 1] -= 1

        max_event_tm = count[0]

        for i in range(1, t + 1):
            count[i] += count[i - 1]
            if count[max_event_tm] < count[i]:
                max_event_tm = i
        naiveKDict[sector] = count[max_event_tm]
    return naiveKDict

In [5]:
Dates=["2013-08-14","2013-08-15","2013-08-16","2013-08-17","2013-08-18","2013-08-19","2013-08-20","2013-08-21","2013-08-22","2013-08-23"]

In [11]:
for date in Dates:
    DayDf=pd.read_csv(f"Naive K/{date}.csv")
    timingDictMulti={}
    for sector in range(1250):
        timingDictMulti[sector]=[]
    getSectorTimings(DayDf,m,timingDictMulti,flightTimeDict,SectorChunkDict,output)
    timingDictFile=open(f"Naive K/Output/timingDict{date}.pkl","wb")
    pk.dump(timingDictMulti,timingDictFile)
    timingDictFile.close()
    KDict=getNaiveK(timingDictMulti)
    KDictFile=open(f"Naive K/Output/KDict{date}.pkl","wb")
    pk.dump(KDict,KDictFile)
    KDictFile.close()

In [6]:
KDict=[]
for dates in Dates:
    tempDict=pk.load(open(f"Naive K/Output/KDict{dates}.pkl", "rb"))
    tempDict=dict(sorted(tempDict.items(),key=lambda x : x[1], reverse =True))
    KDict.append(tempDict)

In [7]:
import math
KDictFinal=dict()
for sector in range(1250):
    DictSum=0
    for dateDict in KDict:
        DictSum+=dateDict[sector]
    DictAvg=math.ceil(DictSum/10)
    KDictFinal[sector]=DictAvg

In [8]:
KDictFinalFile=open(f"KDict.pkl","wb")
pk.dump(KDictFinal,KDictFinalFile)

In [3]:
KDict = pk.load(open("Outputs/KDict.pkl", "rb"))
KDict

{0: 15,
 1: 10,
 2: 9,
 3: 8,
 4: 9,
 5: 0,
 6: 7,
 7: 39,
 8: 7,
 9: 8,
 10: 7,
 11: 6,
 12: 6,
 13: 6,
 14: 6,
 15: 4,
 16: 12,
 17: 9,
 18: 8,
 19: 5,
 20: 7,
 21: 5,
 22: 20,
 23: 38,
 24: 9,
 25: 13,
 26: 6,
 27: 5,
 28: 7,
 29: 6,
 30: 6,
 31: 4,
 32: 5,
 33: 4,
 34: 11,
 35: 7,
 36: 6,
 37: 4,
 38: 6,
 39: 3,
 40: 6,
 41: 8,
 42: 14,
 43: 6,
 44: 8,
 45: 10,
 46: 9,
 47: 4,
 48: 9,
 49: 13,
 50: 9,
 51: 7,
 52: 8,
 53: 7,
 54: 12,
 55: 11,
 56: 5,
 57: 4,
 58: 4,
 59: 9,
 60: 7,
 61: 7,
 62: 5,
 63: 6,
 64: 5,
 65: 4,
 66: 6,
 67: 5,
 68: 4,
 69: 5,
 70: 5,
 71: 7,
 72: 4,
 73: 8,
 74: 5,
 75: 4,
 76: 6,
 77: 6,
 78: 6,
 79: 5,
 80: 4,
 81: 4,
 82: 7,
 83: 5,
 84: 2,
 85: 3,
 86: 8,
 87: 4,
 88: 5,
 89: 6,
 90: 6,
 91: 20,
 92: 6,
 93: 7,
 94: 12,
 95: 4,
 96: 4,
 97: 7,
 98: 5,
 99: 7,
 100: 7,
 101: 8,
 102: 6,
 103: 9,
 104: 6,
 105: 6,
 106: 5,
 107: 7,
 108: 5,
 109: 6,
 110: 11,
 111: 7,
 112: 5,
 113: 5,
 114: 7,
 115: 7,
 116: 5,
 117: 5,
 118: 6,
 119: 7,
 120: 3,
 121: 7,
 122: 4,
 123: 5,
 124: 7,
 125: 8,
 126: 5,
 127: 7,
 128: 4,
 129: 7,
 130: 6,
 131: 8,
 132: 8,
 133: 8,
 134: 6,
 135: 10,
 136: 5,
 137: 6,
 138: 7,
 139: 7,
 140: 12,
 141: 11,
 142: 7,
 143: 8,
 144: 11,
 145: 6,
 146: 37,
 147: 15,
 148: 8,
 149: 8,
 150: 7,
 151: 3,
 152: 7,
 153: 5,
 154: 2,
 155: 6,
 156: 8,
 157: 4,
 158: 6,
 159: 25,
 160: 7,
 161: 5,
 162: 7,
 163: 8,
 164: 4,
 165: 6,
 166: 7,
 167: 5,
 168: 5,
 169: 8,
 170: 5,
 171: 8,
 172: 6,
 173: 7,
 174: 6,
 175: 5,
 176: 4,
 177: 5,
 178: 3,
 179: 5,
 180: 12,
 181: 14,
 182: 11,
 183: 11,
 184: 6,
 185: 7,
 186: 10,
 187: 7,
 188: 6,
 189: 8,
 190: 6,
 191: 5,
 192: 8,
 193: 5,
 194: 4,
 195: 7,
 196: 4,
 197: 7,
 198: 5,
 199: 6,
 200: 6,
 201: 21,
 202: 11,
 203: 4,
 204: 5,
 205: 16,
 206: 6,
 207: 4,
 208: 5,
 209: 8,
 210: 7,
 211: 7,
 212: 5,
 213: 5,
 214: 3,
 215: 4,
 216: 4,
 217: 5,
 218: 4,
 219: 5,
 220: 4,
 221: 4,
 222: 5,
 223: 5,
 224: 6,
 225: 3,
 226: 3,
 227: 3,
 228: 3,
 229: 4,
 230: 4,
 231: 6,
 232: 3,
 233: 5,
 234: 4,
 235: 4,
 236: 6,
 237: 7,
 238: 5,
 239: 4,
 240: 4,
 241: 6,
 242: 5,
 243: 4,
 244: 2,
 245: 6,
 246: 5,
 247: 4,
 248: 7,
 249: 7,
 250: 7,
 251: 6,
 252: 7,
 253: 4,
 254: 5,
 255: 5,
 256: 3,
 257: 4,
 258: 5,
 259: 7,
 260: 4,
 261: 3,
 262: 3,
 263: 3,
 264: 4,
 265: 3,
 266: 3,
 267: 3,
 268: 4,
 269: 3,
 270: 4,
 271: 3,
 272: 4,
 273: 6,
 274: 4,
 275: 6,
 276: 3,
 277: 6,
 278: 4,
 279: 3,
 280: 7,
 281: 5,
 282: 4,
 283: 4,
 284: 4,
 285: 5,
 286: 5,
 287: 4,
 288: 5,
 289: 4,
 290: 4,
 291: 6,
 292: 5,
 293: 4,
 294: 6,
 295: 4,
 296: 4,
 297: 5,
 298: 4,
 299: 4,
 300: 7,
 301: 12,
 302: 8,
 303: 7,
 304: 8,
 305: 9,
 306: 7,
 307: 7,
 308: 5,
 309: 8,
 310: 4,
 311: 4,
 312: 8,
 313: 5,
 314: 6,
 315: 5,
 316: 6,
 317: 8,
 318: 6,
 319: 6,
 320: 3,
 321: 2,
 322: 4,
 323: 2,
 324: 3,
 325: 2,
 326: 2,
 327: 2,
 328: 1,
 329: 2,
 330: 10,
 331: 4,
 332: 5,
 333: 5,
 334: 4,
 335: 6,
 336: 7,
 337: 4,
 338: 4,
 339: 7,
 340: 6,
 341: 8,
 342: 8,
 343: 6,
 344: 5,
 345: 6,
 346: 7,
 347: 6,
 348: 5,
 349: 6,
 350: 9,
 351: 9,
 352: 9,
 353: 7,
 354: 13,
 355: 11,
 356: 9,
 357: 8,
 358: 8,
 359: 9,
 360: 9,
 361: 6,
 362: 6,
 363: 6,
 364: 8,
 365: 5,
 366: 9,
 367: 6,
 368: 5,
 369: 7,
 370: 5,
 371: 5,
 372: 5,
 373: 9,
 374: 7,
 375: 6,
 376: 6,
 377: 7,
 378: 10,
 379: 7,
 380: 6,
 381: 6,
 382: 5,
 383: 7,
 384: 4,
 385: 7,
 386: 6,
 387: 5,
 388: 9,
 389: 6,
 390: 8,
 391: 5,
 392: 5,
 393: 7,
 394: 6,
 395: 6,
 396: 5,
 397: 5,
 398: 4,
 399: 8,
 400: 7,
 401: 7,
 402: 6,
 403: 7,
 404: 9,
 405: 8,
 406: 5,
 407: 5,
 408: 8,
 409: 9,
 410: 6,
 411: 7,
 412: 4,
 413: 6,
 414: 6,
 415: 5,
 416: 6,
 417: 5,
 418: 7,
 419: 4,
 420: 11,
 421: 13,
 422: 46,
 423: 10,
 424: 6,
 425: 7,
 426: 9,
 427: 9,
 428: 7,
 429: 15,
 430: 6,
 431: 7,
 432: 5,
 433: 6,
 434: 9,
 435: 8,
 436: 7,
 437: 6,
 438: 6,
 439: 5,
 440: 6,
 441: 6,
 442: 7,
 443: 5,
 444: 6,
 445: 7,
 446: 5,
 447: 5,
 448: 6,
 449: 7,
 450: 4,
 451: 7,
 452: 4,
 453: 5,
 454: 4,
 455: 4,
 456: 4,
 457: 4,
 458: 6,
 459: 4,
 460: 3,
 461: 4,
 462: 5,
 463: 3,
 464: 3,
 465: 4,
 466: 3,
 467: 2,
 468: 4,
 469: 3,
 470: 6,
 471: 5,
 472: 6,
 473: 6,
 474: 4,
 475: 5,
 476: 4,
 477: 5,
 478: 5,
 479: 5,
 480: 5,
 481: 6,
 482: 7,
 483: 6,
 484: 4,
 485: 4,
 486: 3,
 487: 4,
 488: 2,
 489: 6,
 490: 5,
 491: 5,
 492: 4,
 493: 5,
 494: 6,
 495: 5,
 496: 4,
 497: 8,
 498: 3,
 499: 5,
 500: 5,
 501: 5,
 502: 6,
 503: 6,
 504: 4,
 505: 4,
 506: 6,
 507: 7,
 508: 6,
 509: 4,
 510: 9,
 511: 14,
 512: 9,
 513: 10,
 514: 6,
 515: 5,
 516: 10,
 517: 8,
 518: 8,
 519: 56,
 520: 6,
 521: 9,
 522: 8,
 523: 9,
 524: 15,
 525: 5,
 526: 11,
 527: 6,
 528: 9,
 529: 9,
 530: 5,
 531: 9,
 532: 5,
 533: 8,
 534: 5,
 535: 6,
 536: 5,
 537: 6,
 538: 6,
 539: 4,
 540: 3,
 541: 5,
 542: 4,
 543: 4,
 544: 3,
 545: 4,
 546: 3,
 547: 3,
 548: 5,
 549: 3,
 550: 10,
 551: 12,
 552: 9,
 553: 15,
 554: 9,
 555: 9,
 556: 6,
 557: 8,
 558: 10,
 559: 12,
 560: 6,
 561: 5,
 562: 5,
 563: 7,
 564: 7,
 565: 6,
 566: 8,
 567: 4,
 568: 9,
 569: 5,
 570: 5,
 571: 6,
 572: 4,
 573: 6,
 574: 6,
 575: 4,
 576: 6,
 577: 6,
 578: 5,
 579: 6,
 580: 6,
 581: 9,
 582: 71,
 583: 8,
 584: 8,
 585: 9,
 586: 4,
 587: 5,
 588: 8,
 589: 11,
 590: 7,
 591: 9,
 592: 12,
 593: 17,
 594: 11,
 595: 8,
 596: 5,
 597: 8,
 598: 5,
 599: 7,
 600: 6,
 601: 6,
 602: 4,
 603: 6,
 604: 10,
 605: 10,
 606: 7,
 607: 6,
 608: 5,
 609: 15,
 610: 7,
 611: 9,
 612: 8,
 613: 10,
 614: 8,
 615: 16,
 616: 12,
 617: 9,
 618: 9,
 619: 7,
 620: 8,
 621: 8,
 622: 6,
 623: 7,
 624: 5,
 625: 6,
 626: 7,
 627: 4,
 628: 7,
 629: 6,
 630: 7,
 631: 4,
 632: 5,
 633: 5,
 634: 6,
 635: 4,
 636: 7,
 637: 5,
 638: 6,
 639: 5,
 640: 5,
 641: 5,
 642: 8,
 643: 3,
 644: 6,
 645: 5,
 646: 7,
 647: 7,
 648: 5,
 649: 6,
 650: 8,
 651: 7,
 652: 7,
 653: 7,
 654: 5,
 655: 7,
 656: 6,
 657: 7,
 658: 7,
 659: 7,
 660: 9,
 661: 8,
 662: 17,
 663: 12,
 664: 9,
 665: 10,
 666: 9,
 667: 11,
 668: 9,
 669: 12,
 670: 7,
 671: 7,
 672: 7,
 673: 5,
 674: 5,
 675: 7,
 676: 6,
 677: 5,
 678: 5,
 679: 6,
 680: 6,
 681: 7,
 682: 5,
 683: 6,
 684: 5,
 685: 6,
 686: 7,
 687: 5,
 688: 5,
 689: 6,
 690: 9,
 691: 8,
 692: 9,
 693: 7,
 694: 6,
 695: 8,
 696: 8,
 697: 9,
 698: 6,
 699: 7,
 700: 12,
 701: 7,
 702: 8,
 703: 6,
 704: 6,
 705: 9,
 706: 5,
 707: 25,
 708: 7,
 709: 4,
 710: 7,
 711: 4,
 712: 5,
 713: 4,
 714: 4,
 715: 5,
 716: 5,
 717: 2,
 718: 4,
 719: 4,
 720: 6,
 721: 7,
 722: 5,
 723: 4,
 724: 5,
 725: 4,
 726: 4,
 727: 3,
 728: 7,
 729: 4,
 730: 5,
 731: 4,
 732: 14,
 733: 9,
 734: 14,
 735: 3,
 736: 7,
 737: 5,
 738: 5,
 739: 4,
 740: 4,
 741: 5,
 742: 6,
 743: 4,
 744: 8,
 745: 3,
 746: 5,
 747: 4,
 748: 5,
 749: 6,
 750: 5,
 751: 4,
 752: 4,
 753: 8,
 754: 6,
 755: 5,
 756: 6,
 757: 9,
 758: 3,
 759: 4,
 760: 8,
 761: 7,
 762: 6,
 763: 9,
 764: 10,
 765: 7,
 766: 14,
 767: 6,
 768: 18,
 769: 6,
 770: 7,
 771: 9,
 772: 8,
 773: 10,
 774: 7,
 775: 18,
 776: 4,
 777: 4,
 778: 6,
 779: 12,
 780: 5,
 781: 4,
 782: 5,
 783: 5,
 784: 6,
 785: 3,
 786: 3,
 787: 5,
 788: 5,
 789: 4,
 790: 6,
 791: 5,
 792: 6,
 793: 4,
 794: 5,
 795: 7,
 796: 10,
 797: 4,
 798: 5,
 799: 8,
 800: 8,
 801: 7,
 802: 8,
 803: 6,
 804: 8,
 805: 8,
 806: 6,
 807: 6,
 808: 6,
 809: 8,
 810: 8,
 811: 11,
 812: 8,
 813: 6,
 814: 5,
 815: 4,
 816: 6,
 817: 7,
 818: 9,
 819: 11,
 820: 10,
 821: 10,
 822: 17,
 823: 8,
 824: 93,
 825: 6,
 826: 9,
 827: 7,
 828: 13,
 829: 17,
 830: 9,
 831: 8,
 832: 6,
 833: 4,
 834: 6,
 835: 6,
 836: 7,
 837: 8,
 838: 6,
 839: 6,
 840: 7,
 841: 5,
 842: 4,
 843: 4,
 844: 7,
 845: 6,
 846: 4,
 847: 5,
 848: 8,
 849: 6,
 850: 8,
 851: 7,
 852: 7,
 853: 16,
 854: 8,
 855: 6,
 856: 6,
 857: 9,
 858: 6,
 859: 7,
 860: 9,
 861: 12,
 862: 16,
 863: 12,
 864: 11,
 865: 8,
 866: 13,
 867: 13,
 868: 12,
 869: 15,
 870: 9,
 871: 6,
 872: 7,
 873: 10,
 874: 6,
 875: 8,
 876: 7,
 877: 6,
 878: 7,
 879: 11,
 880: 8,
 881: 8,
 882: 40,
 883: 22,
 884: 7,
 885: 8,
 886: 13,
 887: 6,
 888: 7,
 889: 14,
 890: 4,
 891: 6,
 892: 4,
 893: 6,
 894: 7,
 895: 7,
 896: 6,
 897: 7,
 898: 8,
 899: 8,
 900: 11,
 901: 9,
 902: 5,
 903: 6,
 904: 10,
 905: 5,
 906: 8,
 907: 7,
 908: 7,
 909: 6,
 910: 4,
 911: 6,
 912: 6,
 913: 7,
 914: 5,
 915: 6,
 916: 4,
 917: 8,
 918: 6,
 919: 10,
 920: 9,
 921: 5,
 922: 10,
 923: 8,
 924: 7,
 925: 5,
 926: 7,
 927: 11,
 928: 9,
 929: 11,
 930: 6,
 931: 7,
 932: 11,
 933: 8,
 934: 8,
 935: 7,
 936: 6,
 937: 9,
 938: 8,
 939: 4,
 940: 25,
 941: 9,
 942: 8,
 943: 12,
 944: 10,
 945: 19,
 946: 6,
 947: 19,
 948: 14,
 949: 15,
 950: 11,
 951: 8,
 952: 12,
 953: 28,
 954: 62,
 955: 5,
 956: 9,
 957: 6,
 958: 23,
 959: 4,
 960: 8,
 961: 11,
 962: 26,
 963: 6,
 964: 9,
 965: 6,
 966: 6,
 967: 10,
 968: 8,
 969: 10,
 970: 9,
 971: 4,
 972: 6,
 973: 6,
 974: 15,
 975: 6,
 976: 14,
 977: 8,
 978: 8,
 979: 10,
 980: 16,
 981: 18,
 982: 18,
 983: 10,
 984: 10,
 985: 8,
 986: 12,
 987: 11,
 988: 17,
 989: 53,
 990: 15,
 991: 12,
 992: 7,
 993: 10,
 994: 11,
 995: 4,
 996: 5,
 997: 5,
 998: 8,
 999: 7,
 ...}

In [8]:
flights

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival
0,306354086,KMYR,KBWI,2013-08-18 21:33:00,2013-08-18 21:33:00,2013-08-18 22:37:00,2013-08-18 22:34:00
1,306268157,KRKD,KBOS,2013-08-17 10:40:00,2013-08-17 10:38:00,2013-08-17 11:39:00,2013-08-17 11:37:00
2,308325895,KLEB,KBOS,2013-09-07 21:15:00,2013-09-07 21:05:00,2013-09-07 21:56:00,2013-09-07 21:40:00
3,306126691,KEUG,KPDX,2013-08-16 12:22:00,2013-08-16 12:18:00,2013-08-16 12:45:00,2013-08-16 12:47:00
4,306228870,KEYW,KRSW,2013-08-17 14:10:00,2013-08-17 14:02:00,2013-08-17 15:00:00,2013-08-17 14:46:00
...,...,...,...,...,...,...,...
646707,308738047,KSFO,KIAH,2013-09-11 07:35:00,2013-09-11 07:41:00,2013-09-11 10:58:00,2013-09-11 10:54:00
646708,308710521,KLAS,KIAH,2013-09-11 07:43:00,2013-09-11 07:35:00,2013-09-11 10:11:00,2013-09-11 09:59:00
646709,308711065,KLAX,KIAH,2013-09-11 07:37:00,2013-09-11 07:58:00,2013-09-11 10:25:00,2013-09-11 10:44:00
646710,308710908,KLAX,KCLT,2013-09-11 07:43:00,2013-09-11 07:41:00,2013-09-11 12:01:00,2013-09-11 11:53:00
646711,308686277,KDEN,KCLT,2013-09-11 07:12:00,2013-09-11 07:05:00,2013-09-11 10:00:00,2013-09-11 09:36:00

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cell reads the Flight_History.csv which has the corresponding information about all the flights that took place in the month of August 2013 and the M and ConvexDict pickle files. It outputs a pickle file that has a mapping between all airports in the Flight_History csv file and their corresponding sector within the USA. </p></font><br>
<font size="3">
<b>Input</b> &rarr; cleanFlightHistory.csv,M_ConversionMetric.pkl,ConvexDict.pkl,airports.json <br>
<b>Output</b> &rarr; airportSectorDict.pkl </font>
</div>

In [9]:
cleanFlights=pd.read_csv("Outputs/cleanFlightHistory.csv")
m=pk.load(open("Outputs/M_ConversionMetric.pkl",'rb'))
ConvexDict=pk.load(open("Outputs/ConvexDict.pkl",'rb'))
airportsDB=json.load(open('Inputs/airports.json', encoding = "utf-8"))

airports=list(set(cleanFlights["departure_airport_icao_code"])) + list(set(cleanFlights["arrival_airport_icao_code"]))
airports=list(set(airports))
airportObjects=dict()
for x in airports:
    if x in airportsDB and airportsDB[x]["country"]=='US':
        airportObjects[x]=m(airportsDB[x]["lon"],airportsDB[x]["lat"])
airportToSector=dict()
for airport in airportObjects:
    found=False
    AssignedSector=0
    point=sp.Point(airportObjects[airport])
    distance=sp.Polygon(ConvexDict[0]).distance(point)
    for i in range(0,1250):
        if len(ConvexDict[i]) < 3:
            continue
        doesContain=sp.Polygon(ConvexDict[i]).contains(point)
        if doesContain:
            airportToSector[airport]=i
            found=True
            break
        if(len(ConvexDict[i])>2):
            t=sp.Polygon(ConvexDict[i]).distance(point)
            if(t<distance):
                distance=t
                AssignedSector=i
    if(not found):
        airportToSector[airport]=AssignedSector
filehandler = open("Outputs/airportSectorDict.pkl","wb")
pk.dump(airportToSector,filehandler)
filehandler.close()

In [ ]:
#TEST START

In [11]:
flights=pd.read_csv("Outputs/cleanFlightHistory.csv",low_memory=False)
Tracks=pd.read_csv("Outputs/realTracks.csv")
m = pk.load(open("Outputs/M_ConversionMetric.pkl", "rb"))
speeds = pk.load(open("Outputs/SpeedDict.pkl", "rb"))
SectorGraph = pk.load(open("Outputs/SectorGraph.pkl", "rb"))
Centroids = pk.load(open("Outputs/CentroidDict.pkl", "rb"))
ConvexHulls = pk.load(open("Outputs/ConvexDict.pkl", "rb"))
airportSector=pk.load(open("Outputs/airportSectorDict.pkl", "rb"))

In [250]:
flightID=

In [251]:
speedinKnots=speeds[flightID]
flight=flights[flights['id']==flightID]
start=airportSector[flight['departure_airport_icao_code'].values[0]]
end=airportSector[flight['arrival_airport_icao_code'].values[0]]
print(f"Input to GA:\n{start},{end},0,{speedinKnots}")

realDepart=dt.datetime.fromisoformat(str(flight['actual_runway_departure'].values[0]))
realArrival=dt.datetime.fromisoformat(str(flight['actual_runway_arrival'].values[0]))
flights[flights['id']==flightID]

Input to GA:
989,990,0,354.0

,id,departure_airport_icao_code,arrival_airport_icao_code,scheduled_runway_departure,actual_runway_departure,scheduled_runway_arrival,actual_runway_arrival
131965,306020280,KDTW,KMKE,2013-08-16 00:00:00,2013-08-16 00:12:00,2013-08-16 00:48:00,2013-08-16 00:49:00

In [256]:
%matplotlib qt
fig = plt.figure(pk.load(open("Outputs/Simulator.pkl","rb")))

In [257]:
pathFromGA=[989,980,983,998,990]

In [258]:
singleFlightTrack=Tracks[Tracks['flighthistory_id']==flightID]
singleFlightTrack=singleFlightTrack.sort_values('received')
lat=singleFlightTrack['latitude_degrees'].values
lon=singleFlightTrack['longitude_degrees'].values
realX,realY=m(lon,lat)
PathLenGA=0
PathLenReal=0
for pt in range(1,len(realX)):
     PathLenReal+=dst.euclidean((realX[pt-1],realY[pt-1]),(realX[pt],realY[pt]))
mpm_speed=(speedinKnots/1.944)*60
GAx=[Centroids[pathFromGA[0]][0]]
GAy=[Centroids[pathFromGA[0]][1]]
for Hull in range(len(pathFromGA)-1):
    X=[]
    Y=[]
    Plot=ConvexHulls[pathFromGA[Hull]]
    Plot.append(ConvexHulls[pathFromGA[Hull]][0])
    for pt in Plot:
        X.append(pt[0])
        Y.append(pt[1])
    line1 = sp.LineString(list(Plot))
    for neigh in SectorGraph.neighbors(pathFromGA[Hull]):
        if(neigh==pathFromGA[Hull+1]):
            line2 = sp.LineString([Centroids[pathFromGA[Hull]], Centroids[neigh]])
            ABC=line1.intersection(line2)
            PathLenGA+=dst.euclidean((GAx[-1],GAy[-1]),(ABC.x,ABC.y))
            GAx.append(ABC.x)
            GAy.append(ABC.y)
PathLenGA+=dst.euclidean((GAx[-1],GAy[-1]),Centroids[pathFromGA[-1]])
GAx.append(Centroids[pathFromGA[-1]][0])
GAy.append(Centroids[pathFromGA[-1]][1])

In [259]:
plt.plot(realX,realY,linewidth=20,c='b',label="Actual Path")
plt.plot(GAx,GAy,linewidth=20,c='g',label="GA Path")
plt.legend(loc="upper left",prop={'size': 100})
fig.canvas.draw()

In [263]:
print(PathLenGA/mpm_speed)
print(PathLenReal/mpm_speed)
T=((realArrival-realDepart).seconds//3600)*60+(((realArrival-realDepart).seconds//60)%60)
print(T)

47.615939210392554
50.97006467576444
37

In [272]:
((PathLenReal/(T*60))*1.944)

487.6595377086652

In [273]:
(PathLenReal/(T*60))

250.853671660836

In [228]:
import time
dfFlights=pd.read_csv("Outputs/cleanFlightHistory.csv")
ConvexDict = pk.load(open("Outputs/ConvexDict.pkl", "rb"))
dayDf=dfFlights[dfFlights['scheduled_runway_departure'].str.contains("2013-08-16")].copy()
dayDf.sort_values(by=["scheduled_runway_departure"], inplace = True)
dayDf=dayDf[:20]
stlol=time.time()
ProperPath=0
BadPath=0
NoPath=[]
HalfPath=[]
FullPath=[]
for index,flight in dayDf.iterrows():
    start=airportSector[flight['departure_airport_icao_code']]
    end=airportSector[flight['arrival_airport_icao_code']]
    if(start==end):
        continue
    singleFlightTrack=Tracks[Tracks['flighthistory_id']==flight['id']]
    singleFlightTrack=singleFlightTrack.sort_values('received')
    lat=singleFlightTrack['latitude_degrees'].values
    lon=singleFlightTrack['longitude_degrees'].values
    realX,realY=m(lon,lat)
    if(len(realX)==0):
        NoPath.append(flight['id'])
    else:
        StartPoint=(realX[0],realY[0])
        EndPoint=(realX[-1],realY[-1])
        if(not ((sp.Polygon(ConvexDict[start]).contains(sp.Point(StartPoint))) and (sp.Polygon(ConvexDict[end]).contains(sp.Point(EndPoint))))):
            HalfPath.append(flight['id'])
        else:
            FullPath.append(flight['id'])
enlol=time.time()
print(enlol-stlol)

1.796879768371582

In [179]:
import distinctipy as ds
colors=ds.get_colors(5)
print(len(NoPath))
print(len(HalfPath))

119
212

In [229]:
FullPath

[306072605,
 306017890,
 306022466,
 306003307,
 306049714,
 306386666,
 306020239,
 306011989,
 306011591,
 306027806,
 306020280,
 305998957,
 306011214,
 306011477]

In [209]:
sorted(HalfPath)

[305996946,
 305997428,
 305998002,
 305998329,
 305998413,
 305998431,
 305998977,
 305999004,
 306000891,
 306004037,
 306004132,
 306005300,
 306005311,
 306005591,
 306005842,
 306005859,
 306005929,
 306005950,
 306006077,
 306006587,
 306007616,
 306009806,
 306010059,
 306010064,
 306011222,
 306011386,
 306011390,
 306011419,
 306011443,
 306011472,
 306011474,
 306011483,
 306011524,
 306011570,
 306011733,
 306011739,
 306011753,
 306011777,
 306011782,
 306011978,
 306012981,
 306013134,
 306014468,
 306014595,
 306015112,
 306015162,
 306015286,
 306015449,
 306015556,
 306015744,
 306017054,
 306017193,
 306017200,
 306017204,
 306017227,
 306017473,
 306017638,
 306017735,
 306017820,
 306019796,
 306019872,
 306020074,
 306020078,
 306020134,
 306020234,
 306020408,
 306020448,
 306021748,
 306022005,
 306022048,
 306022089,
 306022478,
 306022609,
 306023193,
 306023420,
 306023491,
 306025481,
 306025495,
 306025864,
 306027259,
 306027281,
 306029874,
 306032596,
 306032643,
 306033037,
 306033077,
 306033094,
 306033339,
 306034422,
 306034500,
 306035793,
 306035889,
 306036722,
 306037580,
 306041400,
 306041777,
 306043291,
 306043687,
 306043824,
 306046443,
 306046858,
 306047610,
 306048070,
 306048201,
 306048464,
 306049043,
 306050788,
 306051407,
 306051413,
 306052119,
 306052528,
 306052609,
 306052621,
 306052642,
 306052649,
 306052701,
 306052804,
 306052830,
 306052873,
 306052914,
 306052920,
 306053081,
 306053153,
 306053161,
 306054413,
 306056645,
 306056790,
 306057202,
 306057420,
 306058037,
 306058517,
 306058603,
 306058750,
 306062012,
 306062255,
 306062724,
 306063068,
 306063118,
 306063247,
 306065925,
 306066320,
 306066346,
 306067035,
 306067040,
 306067267,
 306067317,
 306067825,
 306067838,
 306067846,
 306067880,
 306068131,
 306068154,
 306068407,
 306068854,
 306070189,
 306070694,
 306073032,
 306073102,
 306073243,
 306073930,
 306073936,
 306073970,
 306073982,
 306074005,
 306074112,
 306074147,
 306074733,
 306077815,
 306079518,
 306079759,
 306080161,
 306080183,
 306082394,
 306290114,
 306290133,
 306290199,
 306290315,
 306290395,
 306290403,
 306290405,
 306290682,
 306290711,
 306290713,
 306295363,
 306386174,
 306386243,
 306386271,
 306386311,
 306386317,
 306386362,
 306386399,
 306386403,
 306386410,
 306386431,
 306386432,
 306386434,
 306386438,
 306386440,
 306386465,
 306386655,
 306386661,
 306386665,
 306386747,
 306386769,
 306386774,
 306386797,
 306386808,
 306386838,
 306386880,
 306386886,
 306386932,
 306387111]

In [ ]:
#TEST END

<div>
<font size="4",style="font-family:Ubuntu"> <p> The following cells reads the Flight_History.csv which has the corresponding information about all the flights that took place in the month of August 2013 and the airportToSector dict pickle file and the speedDict pickle files which has the cruise speed of the flights and generate text files that will serve as an input to the GA which we provide via the upload functionality of the website. </p></font><br>
<font size="3">
<b>Input</b> &rarr; cleanFlightHistory.csv, airportSectorDict, ConvexDict.pkl, SpeedDict.pkl <br>
<b>Output</b> &rarr; Text Files which is an input to the GA via the website</font>
</div>

In [111]:
dfFlights=pd.read_csv("Outputs/cleanFlightHistory.csv")
airportToSector=pk.load(open("Outputs/airportSectorDict.pkl","rb"))
speedDict=pk.load(open("Outputs/SpeedDict.pkl","rb"))
AirportDB=json.load(open('Inputs/airports.json', encoding = "utf-8"))
for day in TestDays:
    dayDf=dfFlights[dfFlights['scheduled_runway_departure'].str.contains(day)].copy()
    dayDf.sort_values(by=["scheduled_runway_departure"], inplace = True)
    ids=list(dayDf['id'])
    source=list(dayDf["departure_airport_icao_code"])
    destination=list(dayDf["arrival_airport_icao_code"])
    startTime=[dt.datetime.fromisoformat(str(date)) for date in dayDf["scheduled_runway_departure"]]
    triplets=list(zip(ids,source,destination))
    start=[]
    for s in startTime:
        hour=s.hour
        minute=s.minute
        if minute < 10:
            minute="0" + str(minute)
        start.append(str(hour) + ":" + str(minute))
    toPrint=""
    for i in range(len(triplets)):
        flightID,sourceAirport,destinationAirport=triplets[i]
        sourceAirportName=AirportDB[sourceAirport]["name"]
        destinationAirportName=AirportDB[destinationAirport]["name"]
        if airportToSector[sourceAirport] == airportToSector[destinationAirport]:
            continue
        if flightID not in speedDict:
            speedDict[flightID]=407.5
        toPrint+=f"{sourceAirportName},{destinationAirportName},1,{start[i]},{speedDict[flightID]}"
        if i!=len(triplets)-1:
            toPrint+="\n"
    f = open(f"{day}-pairs.txt", "w")
    f.write(toPrint)
    f.close()